:root {
  --section-color: rgb(255, 255, 255, 0.9);
}

body {
  background: url(../dist/914923cf9a48a39d2b139e1080dcd148.jpg) no-repeat fixed;
  background-size: cover;
  font-family: "Montserrat", "sans-serif";
  margin: 0;
  min-height: 100%;
}

html {
  height: 100%;
}

.main {
  display: flex;
  height: 100vh;
}

.content {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.side-bar-option {
  background: linear-gradient(45deg, #e7c6ed, transparent);
  padding: 11px;
  border-radius: 3px;
  display: flex;
  gap: 13px;
  width: -webkit-fill-available;
}

select#projects:focus {
  outline: none;
}

label {
  align-self: center;
}

.option {
  font-size: inherit;
  padding: 3px;
  border-radius: 9px;
  cursor: pointer;
  border: none;
}

.input-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
  animation: fadeInFromNone 1.7s ease-in;
  background-color: var(--section-color);
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 7px 0px rgba(60, 64, 67, 0.302),
    0 1px 1px 1px rgba(60, 64, 67, 0.149);
  height: fit-content;
}

input {
  font-family: "Montserrat", "sans-serif";
}

::spelling-error {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 9px;
  overflow: auto;
  height: 9px;
  background: antiquewhite;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: currentcolor;
  border-radius: 10px;
}

.temporary-form-list-item {
  margin-left: 20px;
  text-align: initial;
}

#title-input {
  font-size: larger;
  font-weight: 600;
}

.input-field {
  outline: none;
  border: none;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  width: -webkit-fill-available;
  background-color: initial;
}

.delete-button {
  border: none;
  border-radius: 18px;
  outline: none;
  width: 25px;
  height: 25px;
  background-color: white;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -8px;
  left: 204px;
}

.delete-button:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

#note-input {
  margin: 0px;
  resize: none;
  padding: 15px 15px 5px 10px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  font-family: inherit;
  font-weight: inherit;
  white-space: pre-line;
}

.note-input {
  resize: none;
  width: -webkit-fill-available;
  min-height: 100px;
  font-family: inherit;
  font-weight: inherit;
  white-space: pre-line;
  overflow: auto;
}

::placeholder {
  font-family: "Montserrat", "sans-serif";
}

.note-title {
  margin: 5px 0px 20px 0px;
  font-size: larger;
}

p {
  white-space: pre-line;
  margin-top: 20px;
  margin-bottom: 0px;
}

.note-text {
  white-space: pre-wrap;
  margin: 3px 0px 10px 0px;
  word-wrap: break-word;
}

#checklist-div {
  text-align: left;
}

.checkbox {
  position: relative;
  top: 2px;
}

.list-item-text {
  word-break: break-word;
  white-space: pre-wrap;
  text-align: initial;
  width: 148px;
}

.checked {
  text-decoration: line-through;
  font-style: italic;
  color: dimgray;
}

input[type="checkbox"] {
  background-color: ghostwhite;
  appearance: none;
  border: 1px solid #b8b3b2;
  width: 20px;
  height: 20px;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: thistle;
  appearance: none;
  border: 1px solid #b8b3b2;
  width: 20px;
  height: 20px;
  outline: none;
  cursor: pointer;
}

input.change-input {
  width: 156px;
  word-break: break-word;
  white-space: pre-wrap;
}

li {
  list-style: none;
  padding: 3px;
  text-align: center;
}

#checklist-input {
  width: -webkit-fill-available;
}

#add-button {
  padding: 10px 20px 10px 20px;
  margin: auto;
  appearance: none;
  background-color: inherit;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
}

#add-button:hover {
  background-color: antiquewhite;
  border-radius: 3px;
  cursor: pointer;
  /* padding: 11px; */
}

#form-bottom-input {
  display: flex;
  justify-content: center;
  background-color: initial;
  margin-top: 5px;
}

.hide {
  display: none;
}

#project-input {
  text-align: center;
}

.notes-container {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 24px;
  justify-content: center;
}

.note-wrapper {
  max-width: 190px;
  max-height: 650px;
  border-radius: 5px;
  padding-top: 0px;
  margin-top: 0;
  background-color: var(--section-color);
  padding: 16px;
  min-width: 75px;
  min-height: 85px;
  width: -webkit-fill-available;
  flex-direction: column;
  display: flex;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.change-input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  margin: inherit;
  padding: 3px;
  width: 188px;
}

.title-edit {
  max-width: -webkit-fill-available;
  font-size: larger;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  padding: 0;
  border: none;
  margin: 5px 0px 20px 0px;
}

.project {
  background: #e7c6ed;
  padding: 6px;
  border-radius: 10px;
  text-align: center;
  flex-shrink: 0;
  width: fit-content;
  font-size: small;
}

.due-date-div {
  display: flex;
  gap: 10px;
  /* background: antiquewhite; */
  /* border-radius: 10px; */
  /* text-align: center; */
  /* flex-shrink: 0; */
  /* width: fit-content; */
  /* font-size: small; */
  align-self: baseline;
  align-content: center;
  align-self: baseline;
}

.list-item {
  display: flex;
  position: relative;
  left: -42px;
  flex-shrink: 0;
  width: 200px;
}

.delete-checklist-button {
  position: absolute;
  left: 163px;
  border: none;
  border-radius: 14px;
  outline: none;
  width: 25px;
  height: 25px;
  background-color: white;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

.delete-checklist-button:hover {
  cursor: pointer;
  background-color: antiquewhite;
  display: block;
}

#images-ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 2px;
  flex-direction: row;
  margin-top: 21px;
  flex-wrap: wrap;
  background: #e7c6ed;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  flex-shrink: 0;
  margin: 9px auto;
  align-content: normal;
}

img {
  cursor: pointer;
}

.img {
  width: 53px;
  height: 38px;
  border-radius: 5px;
}

img:hover {
  transform: scale(1.1);
}

.side-bar {
  background: var(--section-color);
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: fadeInFromNone 1.7s ease-in;
  min-width: 204px;
  width: 209px;
  /* display: none; */
}

.expand {
  position: absolute;
  min-height: 526px;
  min-width: 500px;
  opacity: revert;
  z-index: 1;
  background: white;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@media (max-width: 574px) {
  .input-form {
    width: 250px;
  }
  #form-bottom-input {
    flex-direction: column;
  }
  #due-date-input,
  #project-input,
  #add-button {
    width: 158px;
    text-align: inherit;
  }
  #add-button {
    text-align: center;
  }
  .delete-button,
  .delete-checklist-button {
    display: initial;
  }
  #images-ul {
    width: 181px;
  }
}
